.country-selector-container {
  position: relative;
  padding: 0.5rem 1rem;
}

.dropdown-container {
  border: 1px solid #b5b5c3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
